[submodule "src/42minishell"]
	path = src/42minishell
	url = https://github.com/danielxfeng/42-minishell.git
	branch = main
[submodule "src/42minirt"]
	path = src/42minirt
	url = https://github.com/danielxfeng/42-miniRT.git
	branch = main
[submodule "gtest"]
	path = gtest
	url = https://github.com/google/googletest.git
[submodule "src/42webserver"]
	path = src/42webserver
	url = https://github.com/danielxfeng/webserv.git
